.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.folder {
  width: 100%;
  position: relative;
  justify-self: start;
}

.folder-name {
  font-weight: bold;
  cursor: pointer;
}

.folder-list {
  list-style-type: none;
  padding-left: 20px;
  position: relative;
}

.file {
  margin-left: 15px;
}
