.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a, li, span, h2 {
  color: white
}

.folder {
  width: 100%;
  position: relative;
}

.folder-name {
  font-weight: bold;
}

.folder-list {
  list-style-type: none;
  padding-left: 20px;
  position: relative;
}

.file {
  margin-left: 15px;
}
