.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.folder {
  width: 100%;
  position: relative;
}

.folder-name {
  font-weight: bold;
  cursor: pointer;
}

.folder-list {
  list-style-type: none;
  padding-left: 20px;
  position: relative;
}

.file {
  margin-left: 15px;
  margin-bottom: 5px;
}

article {
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.PDFViewer {
  height: 100%;
  width: 100%;
}

.ProjectViewer {
  max-height: 100%;
  width: 90%;

  @media (min-width: 1024px) {
    width: 70%; /* Aumento adicional del tamaño de la fuente para pantallas aún más grandes */
  }
}

iframe {
  border: none;
}

.link {
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}
