body {
  height: 100%;
  background: #f4f1eb;
}

header > svg {
  max-height: 100%;
  max-width: 100px;
  fill: #222;
}

header > svg:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

a,
li,
span,
h2,
p {
  color: black;

  font-size: 16px; /* Tamaño base de la fuente */

  @media (min-width: 768px) {
    font-size: 18px; /* Aumento del tamaño de la fuente para pantallas más grandes */
  }

  @media (min-width: 1024px) {
    font-size: 25px; /* Aumento adicional del tamaño de la fuente para pantallas aún más grandes */
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 30px;

  @media (max-width: 768px) {
    padding: 0px; /* Aumento del tamaño de la fuente para pantallas más grandes */
  }
}

.content {
  flex: 1;
}

header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}




