body {
  height: 100%;
  background: #f4f1eb;
  font-family: 'Times New Roman', Times, serif
}

header>svg {
  max-height: 100%;
  max-width: 53.31px;
  fill: #222;
}

header>svg:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

a,
li,
span,
h2,
h3,
h1,
p {
  color: black;

  font-size: 18px;
  /* Tamaño base de la fuente */

  @media (min-width: 768px) {
    font-size: 20px;
    /* Aumento del tamaño de la fuente para pantallas más grandes */
  }

  @media (min-width: 1024px) {
    font-size: 23px;
    /* Aumento adicional del tamaño de la fuente para pantallas aún más grandes */
  }
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 10px;
  height: 100vh;

  @media (max-width: 768px) {
    padding: 0px;
    /* Aumento del tamaño de la fuente para pantallas más grandes */
  }
}

.content {
  flex: 1;
  height: 80%;
}

header {
  height: 10%;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  @media (max-width: 768px) {
    height: 80px;
    /* Aumento del tamaño de la fuente para pantallas más grandes */
  }
}

.footer {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: fixed;
  bottom: 0;
  margin-bottom: 5px;
  opacity: 0.3;
}

.pfooter{
  font-size: 18px;
}

.afooter{
  font-size: 16px;
}